<h1>My To Do List</h1>
<link href="./app.css" />

<form action="/addTodoItem/" method="post">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Todo Item">
</form>

<ul>
    {% for i in  all_items %}
    <li style="display: flex; justify-content: flex-start;">
        <span style="padding-right: 100px" class>{{i.content.description}}</span>
        <form action="/deleteTodoItem/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Delete" style="margin-right: 30px">
        </form>
        <form action="/editView/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Edit">
        </form>
        <form action="/taskStatus/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Task Status">
        </form>
    </li>
    {% endfor %}
</ul>

