<style>
    span.outer.done {
        color: green;
        text-decoration: line-through;
    }
</style>
<h1>My To Do List</h1>
<form action="/addTodoItem/" method="post">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Todo Item">
</form>

<ul>
    {% for i in  all_items %}
    <li style="display: flex; justify-content: flex-start;">
        {% if i.status == 'done' %}
            <input type="checkbox" checked />
            <span class="outer done" style="padding-right: 100px">
                <span class="inner">{{i.description}}</span>
            </span>
        {% else %}
            <input type="checkbox" onclick="" />
            <span class="outer" style="padding-right: 100px">
                <span class="inner">{{i.description}}</span>
            </span>
        {% endif %}
        <form action="/deleteTodoItem/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Delete" style="margin-right: 30px">
        </form>
        <form action="/editView/{{i.id}}/" method="post">{% csrf_token %}
            <input type="submit" value="Edit">
        </form>
        <form action="/updateTaskStatus/{{i.id}}/" method="post">{% csrf_token %}
            <select name="status" id="{{i.status}}">
                {% if i.status == 'in progress'  %}
                    <option value="in progress" selected>In Progress</option>
                {% else %}
                    <option value="in progress">In Progress</option>
                {% endif %}
                {% if i.status == 'done'  %}
                    <option value="done" selected>Done</option>
                {% else %}
                    <option value="done">Done</option>
                {% endif %}
            </select>
            <input type="submit" value="Save Status">
        </form>
    </li>
    {% endfor %}
</ul>

